<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <title>mock me</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-light bg-light">
        <span class="h1" class="navbar-brand mb-0">mock me</span>
      </nav>
      <div class="row justify-content-md-center">
        <form action="/" class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text"
                   name="username"
                   class="form-control"
                   placeholder="Username"
                   aria-label="Username"
                   aria-describedby="basic-addon1">
          </div>
        </form>
      </div>
      <div class="row justify-content-md-center">
        <p class="generated_text col-md-5">
          <%= text %>
        </p>
      </div>
    </div>
  </body>
</html>
