<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mock me</title>
  </head>
  <body>
    <form action="/">
      <input name="username" type="text">
      <input type="submit">
    </form>
    <div><%= text %></div>
  </body>
</html>
