.navbar-brand {
  font-weight: 400;
  font-size: 30px;
}

.alert-warning {
  margin-top: 80px;
  padding-bottom: 0;
  position: absolute;
  background-color: mistyrose;
  border: none;
  color: #666;
}

.flash {
  padding-top: 5px;
}

form {
  margin-top: 200px;
}

.output {
  padding-top: 60px;
}

.generated_text {
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.username {
  text-align: right;
  letter-spacing: 1px;
}

.btn-generate {
  margin-top: 40px;
  background-color: mistyrose;
}

.btn-generate:hover {
  background-color: lightpink;
}