.h1 {
  font-weight: 400;
  font-size: 30px;
}

form {
  margin-top: 200px;
}

.output {
  padding-top: 60px;
}

.generated_text {
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.username {
  text-align: center;
  letter-spacing: 1px;
}